body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#background {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  cursor: crosshair;
  background: lightblue;
  position: relative;
}

.gameInfoClass {
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: red;
  border: 1px solid black;
  opacity: 1;
  display: block;
  transition: all 300ms ease-in-out;
  animation: shake 0.3s infinite, fadeOut 10s ease-out;
}

.dot:hover {
  border: 1px solid transparent;
  border-radius: 50%;
  background: red;
  opacity: 1;
  height: 30px;
  width: 30px;
  border: 2px solid black;
  transition: all 300ms ease-in-out;
}

.instructionsPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#countDown {
  font-size: 24px;
  font-weight: bolder;
  display: none;
}

button {
  cursor: pointer;
  background: lightgreen;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bolder;
}

ul,
li {
  text-decoration: none;
  list-style-type: none;
}

#score {
  font-size: 36px;
  font-weight: bolder;
}

#restartGame {
  display: none;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px);
  }
  10% {
    transform: translate(-1px, -2px);
  }
  20% {
    transform: translate(-3px, 0px);
  }
  30% {
    transform: translate(3px, 2px);
  }
  40% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(-1px, 2px);
  }
  60% {
    transform: translate(-3px, 1px);
  }
  70% {
    transform: translate(3px, 1px);
  }
  80% {
    transform: translate(-1px, -1px);
  }
  90% {
    transform: translate(1px, 2px);
  }
  100% {
    transform: translate(1px, -2px);
  }
}

@keyframes fadeOut {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}
